.root {
-fx-padding: 10;
-fx-border-style: solid inside;
-fx-border-width: 4;
-fx-border-insets: 5;
-fx-border-radius: 5;
-fx-border-color: blue;
-fx-background-color: linear-gradient( from 0% 0% to 100% 100%, darkblue,white);
}
.button {
-fx-text-fill: white;
-fx-font-family: "Arial Narrow";
-fx-font-weight: bold;
-fx-font-size: 12pt;
-fx-background-color: linear-gradient(from 50% 0% to 50% 100%, darkblue, skyblue);
-fx-background-radius:20;
-fx-border-color:blue;
-fx-border-width:2;
-fx-border-radius: 15;
-fx-pref-width:100;
 }
 #title {
 -fx-font-family: "Courier New";
 -fx-font-weight: bold;
 -fx-font-size: 30pt;
 -fx-fill: white;
 }
 .label-topic {
 -fx-font-family: "Sarif";
 -fx-text-fill: white;
 -fx-font-weight: bold;
 -fx-font-size: 12pt;
 }
 .text-title {
 -fx-font-family: "Courier New";
 -fx-fill: white;
 -fx-font-weight: bold;
 -fx-font-posture: italic;
 -fx-font-size: 24pt;

 }
 .text-version {
  -fx-font-family: "Courier New";
  -fx-fill: white;
  -fx-font-size: 16pt;

 }
 #checkBox-txt, #radioButton-txt {
 -fx-text-fill: darkblue;
 -fx-font-size: 14;
 -fx-font-weight: bold;
 }
